# docker-compose.yml
version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
      platform: linux/amd64
    platform: linux/amd64
    ports:
      - "8002:8002"
    env_file:
      - .env
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge